.modal-overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-overlay .modal-background {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  background-color: #111111;
  opacity: 0.5;
}
.modal-overlay .modal-container {
  width: 41.5rem;
  height: 22.5rem;
  background-color: #1b1b1b;
  z-index: 10;
  position: relative;
  border-radius: 10px;
  overflow: auto;
}
.modal-overlay .modal-container .modal-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.625rem;
  padding: 1.5rem;
}
.modal-overlay .modal-container .modal-content .modal-header {
  display: flex;
  width: 100%;
  gap: 1.1875rem;
}
.modal-overlay .modal-container .modal-content .modal-header .poster-image {
  width: 4.5rem;
  height: 6.625rem;
  object-fit: cover;
  border-radius: 0.625rem;
}
.modal-overlay .modal-container .modal-content .modal-header .header-details {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  font-family: "Roboto", sans-serif;
}
.modal-overlay .modal-container .modal-content .modal-header .header-details .title-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.modal-overlay .modal-container .modal-content .modal-header .header-details .title-section .stream-title {
  font-size: 1.5rem;
  font-weight: bold;
}
.modal-overlay .modal-container .modal-content .modal-header .header-details .title-section .close-button {
  height: 2rem;
  width: 2rem;
  background-color: #1C252F;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.modal-overlay .modal-container .modal-content .modal-header .header-details .metadata {
  display: flex;
  gap: 1.5rem;
  font-size: 0.875rem;
}
.modal-overlay .modal-container .modal-content .modal-header .header-details .genres {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  font-size: 0.875rem;
}
.modal-overlay .modal-container .modal-content .modal-header .header-details .ratings {
  display: flex;
  gap: 2.625rem;
  font-size: 1rem;
  font-weight: bold;
}
.modal-overlay .modal-container .modal-content .modal-header .header-details .ratings .rating-item {
  display: flex;
  gap: 0.3625rem;
}
.modal-overlay .modal-container .modal-content .modal-description {
  display: flex;
  flex-direction: column;
  gap: 0.8125rem;
  font-size: 0.875rem;
}
.modal-overlay .modal-container .modal-content .modal-description .director-info {
  display: flex;
  gap: 1.0625rem;
}
.modal-overlay .modal-container .modal-content .modal-description .director-info .director-label {
  font-weight: bold;
  color: #9F9F9F;
}
.modal-overlay .modal-container .modal-content .modal-description .director-info .director-link {
  color: #3b82f6;
  text-decoration: underline;
}
.modal-overlay .modal-container .modal-content .modal-description .director-info .director-link:hover {
  color: #1d4ed8;
}
.modal-overlay .modal-container .modal-content .modal-description .cast-info {
  display: flex;
  gap: 1.0625rem;
}
.modal-overlay .modal-container .modal-content .modal-description .cast-info .cast-label {
  font-weight: bold;
  color: #9F9F9F;
}
.modal-overlay .modal-container .modal-content .modal-description .cast-info .cast-list {
  flex: 1;
}
.modal-overlay .modal-container .modal-content .modal-description .action-buttons {
  display: flex;
  gap: 0.5rem;
  padding-bottom: 2rem;
}
.modal-overlay .modal-container .modal-content .modal-description .action-buttons .trailer-button {
  width: 18.75rem;
  height: 2.25rem;
  background-color: #1C252F;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.553rem;
  border-radius: 9999px;
}
.modal-overlay .modal-container .modal-content .modal-description .action-buttons .trailer-button:hover:not(.disabled) {
  background-color: #4b5563;
}
.modal-overlay .modal-container .modal-content .modal-description .action-buttons .trailer-button.disabled {
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.5;
}
.modal-overlay .modal-container .modal-content .modal-description .action-buttons .watchlist-button {
  width: 18.75rem;
  height: 2.25rem;
  background-color: #1C252F;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.553rem;
  border-radius: 9999px;
}
.modal-overlay .modal-container .modal-content .modal-description .action-buttons .watchlist-button .watchlist-text {
  font-weight: bold;
  color: #3D81E7;
}/*# sourceMappingURL=DetailModal.css.map */