.people-list--main-container {
   color: white;
   display: flex;
   flex-direction: column;
   font-family: 'Roboto', sans-serif; /* Ensure to include the font in your project */
 
   .content {
     width: 66.5625rem;
     display: flex;
     justify-content: space-between;
   }
 }