.details--cast-container {
   width: 38.4375rem;
   display: flex;
   flex-direction: column;
   gap: 1.4375rem;

   .cast-nav {
      display: flex;
      gap: 0.75rem;
      align-items: center;

      .cast-title {
         font-weight: bold;
         font-size: 1.875rem;
         position: relative;

         &:before {
            content: '';
            width: 4px;
            height: 2.5rem;
            border: 0.125rem solid #ff8731;
            border-radius: 4px;
            margin-right: 0.5rem;
            display: inline-block;
         }
      }

      .cast-count {
         display: flex;
         gap: 0.3125rem;
         align-items: center;

         span {
            font-size: 0.875rem;
         }
      }
   }

   .cast-list {
      display: flex;
      gap: 0.9375rem;
      flex-wrap: wrap;

      .cast-item {
         width: 18.75rem;
         display: flex;
         gap: 0.9375rem;
         align-items: center;

         .cast-avatar {
            width: 6rem;
            height: 6rem;
            border-radius: 50%;
            object-fit: cover;
         }

         .cast-details {
            width: 11.8125rem;
            display: flex;
            flex-direction: column;
            gap: 0.125rem;

            .cast-name {
               font-weight: bold;
               white-space: nowrap;
               overflow: hidden;
               text-overflow: ellipsis;
            }

            .cast-character {
               color: #8e8e8e;
               white-space: nowrap;
               overflow: hidden;
               text-overflow: ellipsis;
            }
         }
      }
   }

   .additional-info {
      display: flex;
      flex-direction: column;
      gap: 0.8125rem;

      .info-row {
         display: flex;
         gap: 1.4375rem;
         align-items: center;

         &.writers-info {
            justify-content: space-between;

            .info-column {
               display: flex;
               gap: 1.4375rem;

               .writers-list {
                  display: flex;
                  flex-wrap: wrap;
                  gap: 0.5rem;
               }
            }
         }

         .info-label {
            font-weight: bold;
         }

         .info-value {
            color: #4397fa;
            text-decoration: none;
         }

         .info-missing {
            color: #ff8731;
         }
      }

      .creators-list,
      .writers-list {
         display: flex;
         flex-wrap: wrap;
         gap: 0.5rem;
      }

      .all-cast {
         justify-content: space-between;
      }
   }
}
