.recommendations-section {
   width: 22.6875rem;
   display: flex;
   flex-direction: column;
   gap: 1.4375rem;

   .recommendations-title {
      font-weight: bold;
      font-size: 1.875rem;

      &::before {
         content: '';
         width: 4px;
         height: 2.5rem;
         border: 0.125rem solid #FF8731;
         border-radius: 0.25rem;
         margin-right: 0.5rem;
      }
   }

   .recommendations-container {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      .recommendation-item {
         display: flex;
         gap: 1rem;
      }

      .recommendation-poster {
         width: 8.125rem;
         height: 11.375rem;
      }

      .container {
         display: flex;
         flex-direction: column;
         gap: 0.825rem;
         width: 100%;

         .recommendation-data {
            display: flex;
            flex-direction: column;
            gap: 0.225rem;

            .recommendation-title {
               font-weight: bold;
               font-size: 1.25rem;
               display: -webkit-box;
               -webkit-line-clamp: 2;
               overflow: hidden;
               -webkit-box-orient: vertical;
            }

            .recommendation-details {
               display: flex;
               gap: 1.25rem;
               align-items: center;

               span {
                  display: flex;
                  gap: 0.5rem;
                  align-items: center;
               }
            }
         }
      }
   }

   .recommendation-buttons {
      display: flex;
      flex-direction: column;
      gap: 0.825rem;

      .button {
         width: 9.3125rem;
         height: 2.25rem;
         display: flex;
         justify-content: center;
         align-items: center;
         gap: 0.6875rem;
         background-color: #1c252f;
         border-radius: 0.375rem;

         &-text {
            font-size: 0.875rem;
            color: #3d81e7;
         }

         &:focus {
            outline: none;
            box-shadow: 0 0 0 2px #3d81e7;
         }
      }
   }

}