.genre-container {
   color: white;
   font-family: 'Roboto', sans-serif;
   display: flex;
   flex-direction: column;
   gap: 0.875rem;
 
   .genre-title {
     color: #ff8731;
     font-weight: bold;
     font-size: 0.75rem;
   }
 
   .genre-buttons {
     display: flex;
     flex-wrap: wrap;
     gap: 0.6875rem;
 
     .genre-button {
       padding: 0.4375rem 1rem;
       border-radius: 9999px; /* Fully rounded for pill shape */
       font-size: 0.75rem;
       background-color: #1C252F;
       transition: transform 0.2s;
 
       &:hover {
         background-color: #2d3748;
         transform: scale(1.05);
       }
 
       &.selected {
         background-color: #ff8731;
       }
     }
   }
 }
 